.matchCard {
  background: $primary-color;
  color: white;

  img.championImg {
    height: 128px;
  }

  .matchContent > div {
    max-height: 128px;
  }

  .info {
    background: $primary-color-dark;
  }

  .stats {
    label {
      margin-bottom: .3rem;
    }
  }
}

.titleWrapper {

  @media screen and (min-width: map-get($grid-breakpoints, "xs")) {
    .summonerLabel {
      margin-right: 1rem
    }
  }
}

.ranking {
  .custom-tag {
    max-width: 100%;
    height: 350px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 3rem;
    color: $primary-color-dark;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 3rem;
    color: $primary-color-dark;
  }

  .carousel-caption {
    color: $primary-color-dark;
  }

  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    .custom-tag {
      height: 200px;
    }

    .carousel-caption {
      background: #311b92;
      width: 100%;
      left: 0;
      color: white;
      opacity: .7;
      bottom: 0px;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  .titleWrapper {
    margin-top: 1rem !important
  }
}
